@using AVBS.Enum
@using AVBS.Office.UI.Helper
@model AVBS.Office.UI.Models.User.PasswordModel

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label for="Password">Şifre</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-key"></i></div>
                @Html.TextBoxFor( model => model.Password, htmlAttributes: new {
                       @class = "form-control",
                       type = "password",
                       @placeholder = "Şifre",
                       required = "required",
                       data_validation_regex_regex = UserHelper.PasswordRegex,
                       data_validation_regex_message = Messages.PasswordError
                   } )

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label for="PasswordRepeat">Şifre Tekrar</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-key"></i></div>
                <input class="form-control" data-validation-matches-match="Password" data-validation-matches-message="Girilen şifrelerin aynı olması gerekmekte" id="PasswordRepeat" name="PasswordRepeat" maxlength="50" placeholder="Şifre Tekrar" type="password" value="" aria-invalid="false">
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("input,textarea,select").jqBootstrapValidation(
            {
                preventSubmit: true,
                filter: function () {
                    return $(this).is(":visible");
                }
            }
        );
    });
</script>