<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Mssql Start -->
  <connectionStrings>
    <add name="AVBSEntities" connectionString="metadata=res://*/AVBSDb.csdl|res://*/AVBSDb.ssdl|res://*/AVBSDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=37.230.108.247;initial catalog=bub;persist security info=True;user id=buber;password=***_;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbViews" connectionString="metadata=res://*/AVBSDbView.csdl|res://*/AVBSDbView.ssdl|res://*/AVBSDbView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=37.230.108.247;initial catalog=bub;persist security info=True;user id=buber;password=***_;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- Mssql End -->


  <!-- Postgres Start -->
  <!--<configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

  <!-- Postgres End -->
</configuration>