<div style="text-align: center;">
    <img src="/Content/img/menu/menu2.png" class="menu-image" style="width: 75%; height: 100% " />
    <img src="/Content/img/menu/menu1.png" class="" style="width: 75%; height: 100% " />
</div>