@using AVBS.Entity.Concrete
@using AVBS.Enum
@model AVBS_CashBook

@Html.AntiForgeryToken()
@Html.ValidationSummary( true )

<style>
    .form-horizontal .form-group {
        margin-right: 0 !important;
    }
</style>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="Amount">Kasa Açılış</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="ti-money"></i>
                </div>
                @Html.TextBoxFor( model => model.CashStart, htmlAttributes: new { @class = "form-control", @placeholder = "Kasa Açılış", required = "required", data_inputmask = "'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" } )
            </div>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="Date"> Tarih </label>
            <div class="input-group">
                <div class="input-group-addon"><i class="icon-calender"></i></div>
                @Html.TextBoxFor( model => model.Date, ( Model != null ) ? Model.Date.ToString( "dd/MM/yyyy" ) : "", htmlAttributes: new { @class = "form-control mydatepicker", @placeholder = "StartDate" } )
            </div>
            <div class="help-block with-errors"></div>
        </div>
    </div>
</div>
 

@*<script src="/plugins/inputmask/jquery.inputmask.bundle.js"></script>*@
<script src="/plugins/bower_components/custom-select/custom-select.min.js"></script>
<script src="/js/validator.js"></script>

