@using AVBS.Entity.Concrete
@section Styles {
    <link href="/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom-table.css" rel="stylesheet" type="text/css" />
}


<!-- Page Content -->
<div class="container-fluid">
    <div class="row bg-title">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <!-- /.row -->

   @{Html.RenderAction( "CashBookMonthlyWidgets", "Page" );}
  

</div>
<!-- /.container-fluid -->

@section Scripts {
    <script src="/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/custom-table.js"></script>
}
