@using AVBS.View.Concrete.Table
@{
    var cashbook = (AVBS_MonthlyOutgoingView) ViewBag.CashBookMonthly;
    if ( cashbook == null ) {
        cashbook = new AVBS_MonthlyOutgoingView { };
    }
    //var cashIncome = cashbook.MonthlyTurnover - cashbook.MonthlyIncome;
}

<div class="row widget-row">
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-success">
            <h3 class="box-title">Bulunulan Tarih</h3>
            <ul class="list-inline two-part">
                <li><i class="ti-control-play text-success"></i></li>
                <li class="text-right"> <span> @cashbook.Date</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-purple">
            <h3 class="box-title">Aylık Toplam Gider</h3>
            <ul class="list-inline two-part">
                <li><i class="ti-control-play text-purple"></i></li>
                <li class="text-right"> ₺ <span class="counter">@cashbook.MonthlyOutgoing</span></li>
            </ul>
        </div>
    </div>
    @*<div class="col-lg col-sm-12">
        <div class="white-box b-l-danger">
            <h3 class="box-title">Aylık Toplam Nakit Gelir</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-people text-danger"></i></li>
                <li class="text-right"> ₺ <span class="counter">@cashIncome</span></li>
            </ul>

        </div>
    </div> 
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-warning">
            <h3 class="box-title">Aylık Ciro</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-feed text-warning"></i></li>
                <li class="text-right"> ₺ <span>@cashbook.MonthlyTurnover</span></li>
            </ul>
        </div>
    </div>*@
    @*
        <div class="row">
            <div class="col-md-12">

                <div class="white-box">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    *@

</div>