
<div class="row widget-row">
    <div class="col-lg col-sm-12">
        <div class="white-box b-l-success">
			<h3 class="box-title">Bir hata oluştu. Lütfen tekrar deneyiniz.</h3>
            <ul class="list-inline two-part">
                <li><i class="icon-location-pin text-success"></i></li>
                <li class="text-right">Bir hata oluştu...</li>
            </ul>
        </div>
    </div>

</div>