<section class="full-height-slider type-1">
    <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: url(/Content/img/mama_aldiniz/tarcin_2.jpg); opacity: 0.2;" data-swiper-parallax="50%"></div>
    <div class="table-view mobile-rel-block">
        <div class="table-cell">
            <div class="container no-padd">
                <div class="row vertical-wrap">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
                        <div class="simple-item color-type-1 text-center">
                            <div class="main-title">
                                <h1 class="h1 caption"><span style="color:#3f5b88 ">O</span>'na mama aldınız!</h1>
                                <div class="empty-sm-30"></div>
                                @*<div class="col-md-10 col-md-offset-1">
                                        <div class="simple-text md">
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="empty-lg-115 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <article>
                    <div class="simple-item color-type-2 text-center">
                        <div class="main-title">
                            <h2 class="h2 caption">Tarçın ve Arkadaşları</h2>
                            <div class="empty-sm-20 empty-xs-5"></div>
                        </div>
                    </div>

                    <div class="text-block-wrapp text-left color-type-2">
                        <div class="empty-sm-45 empty-xs-20"></div>
                        <div class="simple-text">
                            <p>Tarçın 4 yaşındayken aramıza katıldı. Kendisi Mehmet Abi'nin barınağında baktığı onlarca dostumuzdan biriydi. Tarçın'a bir nebze olsun dost olabilmek bizi çok mutlu ediyor. Fakat Tarçın'ın arkadaşları için de bir şeyler yapmak istiyoruz. </p>
                        </div>
                        <div class="empty-sm-25 empty-xs-10"></div>

                        <div class="testimonials-item testi-type-5">
                            <div class="empty-sm-30 empty-xs-15"></div>
                            <div class="row vertical-wrap">
                                <div class="col-md-2 col-md-offset-1 col-sm-2 col-xs-12">
                                    <div class="img">
                                        <a href="#">
                                            <img src="/Content/img/mama_aldiniz/mehmet_01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="empty-xs-15"></div>
                                </div>
                                <div class="col-md-8 col-sm-10 col-xs-12">
                                    <div class="text" style="background-color: unset; color: white;">
                                        <h4 class="h4 caption tt" style="color: white">“GERÇEKTEN YÜREKLERİ CANLAR İÇİN ATAN DOSTLAR..... BU BEBEKLERİMİZE KORUYUCU AİLE,GÖNÜLLÜ ANNE VEYA BABA OLURAK BİZİM YÜKÜMÜZÜ BİRAZ OLSUN HAFİFLETİRSENİZ BİZ DE SOKAKLARDA ISSIZLARDA ÖLÜM TEHLİKESİ ALTINDA OLAN ÇOK DAHA FAZLA CAN DOSTUMUZU KURTARIR..ONLARIN YAŞAMLARINI GÜVENCE ALTINA ALABİLİRİZ...”</h4>
                                        <div class="empty-sm-15 empty-xs-15"></div>
                                        <div class="name">
                                            <h5 class="h5 sm caption">Mehmet Abi</h5>
                                            <div class="empty-sm-5 empty-xs-5"></div>
                                            @*<span class="proff color-2">Head Chef</span>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="empty-sm-60 empty-xs-30"></div>
                        </div>
                        <div class="simple-text" style="background-color: unset;">
                            <p>Bir çoğumuz şartları, durumları gereği koruyuculuk yapamayabilir fakat Tarçın'ın arkadaşları ve daha nicesi için sizlerle birlikte yeni bir akımda birlikte yürümek istiyoruz. Verdiğiniz her siparişle "Onlara mama alıyorsunuz". Yemeğinizi paylaştığınız için çok teşekkürler. </p>
                        </div>
                        <div class="empty-sm-45 empty-xs-20"></div>
                        <h4 class="h4 caption" style="color: white; float:right">- Buber's Ailesi</h4>
                        <div class="empty-sm-20 empty-xs-5"></div>

                    </div>
                </article>
            </div>
        </div>
    <div class="row">
        <div class="arrow-closest">
            <div class="swiper-container full-h slide-gutter-15" data-mode="horizontal" data-autoplay="0" data-effect="slide" data-slides-per-view="responsive" data-loop="0" data-speed="800" data-add-slides="2" data-lg-slides="2" data-md-slides="2" data-sm-slides="1" data-xs-slides="1">
                <div class="swiper-wrapper">
                    @*<div class="swiper-slide">
                            <div class="menu-item menu-item-2 color-type-1">
                                <img src="/Content/img/mama_aldiniz/tarcin_mehmet_01.jpg" alt="" class="full-img">
                            </div>
                        </div>*@
                    <div class="swiper-slide">
                        <div class="menu-item menu-item-2 color-type-1">
                            <img src="/Content/img/mama_aldiniz/barinak_01.jpg" alt="" class="full-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="menu-item menu-item-2 color-type-1">
                            <img src="/Content/img/mama_aldiniz/barinak_02.jpg" alt="" class="full-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="menu-item menu-item-2 color-type-1">
                            <img src="/Content/img/mama_aldiniz/barinak_03.jpg" alt="" class="full-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="menu-item menu-item-2 color-type-1">
                            <img src="/Content/img/mama_aldiniz/barinak_04.jpg" alt="" class="full-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-arrow-left swiper-arrow type-3 style-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="19px" height="19px">
                    <g>
                        <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" fill="#FFFFFF" />
                    </g>
                </svg>
            </div>
            <div class="swiper-arrow-right swiper-arrow type-3 style-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="19px" height="19px">
                    <g>
                        <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#FFFFFF" />
                    </g>
                </svg>
            </div>
        </div>
    </div>

        <div class="empty-sm-65 empty-xs-30"></div>

    
    </div>
</section>
