
<style>
    .sidebar-nav i {
        margin-right: 5px;
    }
</style>

@{

    string path = HttpContext.Current.Request.Url.AbsolutePath.ToLower();

    var isDashboard = false;
    var isCashbook = false;
    var isAnalytic = false;
    var isContact = false;
    var isOutgoing = false;
    var isProductPurchase = false; 
    var isStock = false;
    var isIngredient = false;
    var isStockPurchase = false;
    var isIngredientlabelcompany = false;
    var isIngredientunitprice = false;
    var isMenu = false;
    if ( path.Contains( "cashbook" ) ) {
        isCashbook = true;
    } else if ( path.Contains( "analytics" ) ) {
        isAnalytic = true;
    } else if ( path.Contains( "contact" ) ) {
        isContact = true;
    } else if ( path.Contains( "outgoing" ) ) {
        isOutgoing = true;
    } else if ( path.Contains( "productpurchase" ) || path.Contains("stock") ) {
        isStockPurchase = true;
        if ( path.Contains( "productpurchase" ) ) { isProductPurchase = true; }
        if ( path.Contains( "stock" ) ) { isStock = true; }
    } else if ( path.Contains( "menu" ) ) {
        isMenu = true;
    } else if ( path.Contains( "ingredient" ) ) {
        isIngredient = true;
        if ( path.Contains( "ingredientlabelcompany" ) ) { isIngredientlabelcompany = true; }
        if ( path.Contains( "ingredientunitprice" ) ) { isIngredientunitprice = true; }
    } else if ( path == "/" ) {
        isDashboard = true;
    }

}

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>

            <li>
                <a href="/" class="waves-effect @{if ( isDashboard ) { <text> active </text>;} }"><i class="icon-home"></i> <span class="hide-menu">Dashboard</span></a>
            </li>

            <li>
                <a href="/contact" class="waves-effect @{if ( isContact ) { <text> active </text>;} }"><i class="icon-people" data-icon="v"></i> <span class="hide-menu">Kontakt Listesi</span> </a>
            </li>

            <li>
                <a href="/cashbook" class="waves-effect @{if ( isCashbook ) { <text> active </text>;} }"><i class="icon-layers"></i> <span class="hide-menu">Kasa Defteri</span> </a>
            </li>

            <li>
                <a href="/outgoing" class="waves-effect @{if ( isOutgoing ) { <text> active </text>;} }"><i class="ti-share" data-icon="v"></i> <span class="hide-menu">Giderler</span> </a>
            </li>
            <li>
                <a href="/analytics" class="waves-effect @{if ( isAnalytic ) { <text> active </text>;} }"><i class="ti-bar-chart"></i> <span class="hide-menu">Analytics</span> </a>
            </li>

            <li>
                <a href="/menu" class="waves-effect @{if ( isMenu ) { <text> active </text>;} }"><i class="ti-layout-menu-v"></i> <span class="hide-menu"> Menu </span> </a>
            </li>
            <li>
                <a href="#" class="waves-effect nav-drop @{if ( isStockPurchase ) { <text> active </text>;} }"><i class="ti-layers-alt" data-icon="v"></i> <span class="hide-menu"> Mal Alımı / Stok  <span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/productpurchase" class="waves-effect @{if ( isProductPurchase ) { <text> active </text>;} }"> Mal alımları </a>
                    </li>
                    <li>
                        <a href="/stock" class="waves-effect @{if ( isStock ) { <text> active </text>;} }"> Stok </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect nav-drop @{if ( isIngredient ) { <text> active </text>;} }"><i class="ti-target" data-icon="v"></i> <span class="hide-menu"> Ürün İçerikleri  <span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/ingredientlabelcompany" class="waves-effect @{if ( isIngredientlabelcompany ) { <text> active </text>;} }"> İçerik / Marka / Firma </a>
                    </li>
                    <li>
                        <a href="/ingredientunitprice" class="waves-effect @{if ( isIngredientunitprice ) { <text> active </text>;} }"> İçerik Birim Fiyatları </a>
                    </li>
                     
                </ul>
            </li>
        </ul>
    </div>
</div>
