 @using AVBS.Entity.Concrete @model AVBS.Entity.References.AVBS_SubOutgoingType

@Html.AntiForgeryToken()
@Html.ValidationSummary( true )

<style>
    .form-horizontal .form-group {
        margin-right: 0 !important;
    }
</style>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="OutgoingTypeId"> Gider Tipi </label>
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-layers-alt"></i></div>
                @Html.DropDownListFor( model => model.OutgoingTypeId, new SelectList( ViewBag.OutgoingTypeList, "Id", "Name" ), "", htmlAttributes: new { placeholder = "Gider Tipi Seçiniz", @class = "form-control select2", required = "required" } )
            </div>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="Name">Gider Alt Başlığı</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="ti-money"></i>
                </div>
                @Html.TextBoxFor( model => model.Name, htmlAttributes: new { @class = "form-control", @placeholder = "Name", required = "required"} )
            </div>
            <div class="help-block with-errors"></div>
        </div>
    </div>
</div>
 
<script src="/plugins/bower_components/custom-select/custom-select.min.js"></script>
<script src="/js/validator.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

		$(document).on("submit", "#selectbox_validate", function () {
            if ($("div#maindiv").hasClass("has-error")) {
                $(this).find(".bootstrap-select")
                    .after("<h6 class='has-error' style='color:red;'>please select any value from options.</h6>");
            }
           
		});


		$("#OutgoingTypeId").select2({
		    //formatNoMatches: function (term) {
		    //    return "<em>" +
			//		term +
			//		'</em> not found.<br><a href="/"onclick="modalForm(\'/outgoingtype/createpartial\',\'#OutgoingTypeId\')" class="ajax-modal"> + Yeni Ekle </a>';
		    //}
		});

    });

</script>
